.piano-block-synthesizer-setting {
	box-sizing: border-box;
	width: var(--wpds-dimension-surface-width-sm);
	max-width: 100%;
	padding: var(--wpds-dimension-padding-lg);
	overflow: hidden;

	.piano-block-synthesizer-setting__graph {
		display: block;
		width: 100%;
		height: 80px;
		border: var(--wpds-border-width-xs) solid var(--wpds-color-stroke-surface-neutral-strong);
	}

	.piano-block-synthesizer-setting__reset {
		margin-left: auto;
	}
}
