@use "../../variables" as pianoBlockVariables;

.piano-block-controls {
	position: relative;
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	gap: var(--wpds-dimension-gap-lg);
	align-items: flex-start;
	width: calc(100% - var(--wpds-dimension-padding-lg) * 2);
	max-width: calc(pianoBlockVariables.$white-key-width * pianoBlockVariables.$white-key-count - var(--wpds-dimension-padding-lg) * 2);
	padding: var(--wpds-dimension-padding-sm) 48px var(--wpds-dimension-padding-sm) var(--wpds-dimension-padding-lg);
	margin: 0 auto;
	background: var(--wpds-color-background-surface-neutral-strong);
	border-radius: var(--wpds-border-radius-lg);

	.components-range-control {
		width: 128px;

		.components-range-control__root {
			min-height: var(--wpds-dimension-size-md);
		}

		.components-range-control__reset {
			height: var(--wpds-dimension-size-md);
		}
	}

	.components-toggle-control {

		.components-flex {
			flex-flow: column-reverse;
			align-items: flex-start;
			gap: var(--wpds-dimension-gap-lg);
		}

		.components-toggle-control__label {
			font-size: var(--wpds-typography-font-size-xs);
			font-weight: var(--wpds-typography-font-weight-emphasis);
			line-height: var(--wpds-typography-line-height-xs);
			text-transform: uppercase;
		}
	}

	.piano-block-controls__synthesizer-toggle {
		display: flex;
		align-self: flex-end;
	}

	.piano-block-controls__help {
		position: absolute;
		top: var(--wpds-dimension-padding-sm);
		right: var(--wpds-dimension-padding-sm);
	}
}
