@use "../../wp-base-styles" as wpBaseStyles;
@use "../../variables" as var;

.piano-block-controls {
	position: relative;
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	gap: wpBaseStyles.$grid-unit-20;
	align-items: flex-start;
	width: calc(100% - wpBaseStyles.$grid-unit-40);
	max-width: var.$white-key-width * var.$white-key-count - wpBaseStyles.$grid-unit-40;
	padding: wpBaseStyles.$grid-unit-10 wpBaseStyles.$grid-unit-60 wpBaseStyles.$grid-unit-10 wpBaseStyles.$grid-unit-20;
	margin: 0 auto;
	background: #fff;
	border-radius: wpBaseStyles.$radius-small;

	.components-range-control {
		width: 140px;

		.components-range-control__reset {
			height: wpBaseStyles.$grid-unit-40;
		}
	}

	.components-toggle-control {

		.components-flex {
			flex-flow: column-reverse;
			align-items: flex-start;
			gap: wpBaseStyles.$grid-unit-20;
		}

		.components-toggle-control__label {
			margin: 0;
			font-size: 11px;
			font-weight: 500;
			line-height: 1.4;
			text-transform: uppercase;
		}
	}

	.piano-block-controls__synthesizer-toggle {
		display: flex;
		align-self: flex-end;
	}

	.piano-block-controls__help {
		position: absolute;
		top: wpBaseStyles.$grid-unit-10;
		right: wpBaseStyles.$grid-unit-10;
	}

	// Backwards compatible styles for WordPress 6.6 and below
	.components-base-control:has(.components-button-group),
	.components-range-control {

		.components-base-control__label {
			display: block;
		}
	}
}
