.piano-block-controls {
	position: relative;
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	gap: $grid-unit-20;
	align-items: flex-start;
	width: calc(100% - $grid-unit-40);
	max-width: 818px;
	padding: $grid-unit-10 $grid-unit-60 $grid-unit-10 $grid-unit-20;
	margin: 0 auto;
	background: #fff;
	border-radius: $radius-block-ui;

	.components-range-control {
		width: 140px;

		.components-range-control__reset {
			height: $grid-unit-40;
		}
	}

	.components-base-control__label {
		display: block;
		font-size: 11px;
		font-weight: 500;
		line-height: 1.4;
	}

	.components-base-control__field {
		margin-bottom: 0;
	}

	.components-select-control__input:focus {
		outline: none;
	}

	.components-toggle-control {
		margin-bottom: 0;

		.components-flex {
			flex-flow: column-reverse;
			align-items: flex-start;
		}

		.components-toggle-control__label {
			margin: 0;
			font-size: 11px;
			font-weight: 500;
			line-height: 1.4;
			text-transform: uppercase;
		}

		.components-form-toggle {
			display: inline-flex;
		}
	}

	.piano-block-controls__synthesizer-toggle {
		display: flex;
		align-self: flex-end;
	}

	.piano-block-controls__help {
		position: absolute;
		top: $grid-unit-10;
		right: $grid-unit-10;
	}

	// Fallback for WP6.4 and below
	.components-select-control__input.components-select-control__input.components-select-control__input {
		height: $grid-unit-40;
		min-height: $grid-unit-40;
	}
}
