.piano-block-loading {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	display: flex;
	flex-flow: column;
	gap: $grid-unit-10;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	color: #fff;
	background: rgba(0, 0, 0, 0.5);
}
