@use "@wordpress/base-styles/variables" as variables;
@use "@wordpress/base-styles/colors" as colors;

.piano-block-help-modal {

	.components-modal__header {

		h1 {
			font-size: variables.$font-size-x-large;
			font-style: normal;
			color: inherit;

			&::before,
			&::after {
				content: none;
			}
		}

		.components-button {
			color: inherit !important;
			background-color: colors.$white !important;
		}
	}

	ul {
		font-size: variables.$font-size-large;
		padding-left: 1.5em;
		margin: 0;
		list-style: disc outside;

		li {
			margin-left: 0;
		}
	}
}
