@import "./components/piano/style";
@import "./components/loading/style";
@import "./components/controls/style";
@import "./components/synthesizer-setting/style";
@import "./components/help-modal/style";
@import "./components/keyboard/style";

.wp-block-piano-block-piano {
	position: relative;
	color: #1d2327;

	&:not(.has-background) {
		background: url(../assets/block_bg.png);
	}

	// Override theme button style.
	.components-button {
		color: inherit !important;
		background: #fff !important;

		&.is-primary {
			color: #fff !important;
			background: var(--wp-admin-theme-color, #007cba) !important;
		}

		&.is-destructive {
			color: #cc1818 !important;
		}

		&:focus,
		&:hover {
			text-decoration: none !important;
		}
	}
}
