@use "@wordpress/base-styles/variables" as variables;

$black-key-width: variables.$grid-unit-40;
$white-key-width: variables.$grid-unit-50;
$white-key-height: variables.$grid-unit-10 * 24;
$white-key-count: 17;
