@use "@wordpress/base-styles/variables" as variables;

.piano-block-container {
	padding-top: variables.$grid-unit-20;

	&:focus::after {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 1;
		pointer-events: none;
		content: "";
		outline: var(--wp-admin-border-width-focus) solid var(--wp-admin-theme-color);
	}
}
